[submodule "Lambda"]
	path = Lambda
	url = git@github.com:KirSanich/Lambda.git
[submodule "MethodReference"]
	path = MethodReference
	url = git@github.com:KirSanich/MethodReference.git
[submodule "StandartFunctionalInterfaces"]
	path = StandartFunctionalInterfaces
	url = git@github.com:KirSanich/StandartFunctionalInterfaces.git
